# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# VS Code
.vscode/

# Maven
target/

# Spring local configuration
application-local.properties
.env
.env.*

# Android
.gradle/
local.properties
**/build/
captures/
.externalNativeBuild/
.cxx/

# OS
.DS_Store
Thumbs.db